@use 'sass:math';


// Unit change
@function rem($size) {
    // $size : $size / 16;
    $size : math.div($size, 16);
    @return #{$size}rem;
}

@function unitChk($size) {
    @if unitless($size) {
        @return #{$size}px;
    }

    @return $size;
}



 

@function getSize($count, $gap) {  
    $size : 0;
    @if $gap==null {
        $size : math.div( 100, $count) * 1%;
    } @else { 
        $size : calc( (100% - unitChk($gap)) / $count);  
    }
   
    @return $size;
}



 